.form {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 56px;
}

.lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
    text-align: left;
    margin-bottom: 8px;
}

.fieldset {
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    min-width: 320px;
}

.mileageMin {
    display: inline;
    border-radius: 12px 0 0 12px;
    border: none;
    border-right: 1px solid #dadde1;
    width: 160px;
    background-color: #f7f7f7;
    outline: none;
    padding: 12px 24px 12px 65px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.fieldset::before {
    content: "From";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px
}

.mileageMax {
    border-radius: 0 12px 12px 0;
    border: none;
    width: 160px;
    background-color: #f7f7f7;
    outline: none;
    padding: 12px 24px;
    padding: 12px 24px 12px 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.fieldset::after {
    content: "To";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 118px
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    position: relative;
    color: #fff;
}

.button {
    display: block;
    width: 156px;
    padding: 12px;
    background-color: #3470ff;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.button:hover,
.button:focus {
    background-color: #0b44cd;
}

.reset {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    padding: 12px;
    background-color: transparent;
    border-radius: 12px;
    border: none;
    transition: transform 0.4s ease;
    will-change: transform;
}

.reset:hover,
.reset:focus {
    transform: scale(1.4) translateY(-35.7%);
}