.section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../image/homePageImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 436px;
    padding-bottom: 60px;
    margin-top: 4px;
    color: #fff;
}

.title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 40px;
}

.button {
    display: block;
    margin: 0 auto;
    width: 276px;
    padding: 12px;
    background-color: #3470ff;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.button:hover,
.button:focus {
    background-color: #0b44cd;
}